<div class="container">
  <a href="https://github.com/gkichan/forkify-portfolio">Код на GitHub</a>
  <h3>rus</h3>
  <p> Привет!
    Forkify - это веб приложение для поиска рецептов. Рецепты берутся с food2fork.<br><br>
    Внешний вид - Angular Material. Без адаптива.<br><br>
    Для авторизации, хранения избранных и истории поиска используется firebase.<br><br>
    Роуты защищены guard`ом от не авторизированых пользователей.<br><br>
    В приложении можно зарегистрироваться, залогиниться\разлогиниться и сбросить пароль.<br><br>
    В настройках можно изменить язык и включить сохранение истории поиска.<br><br>
    Можно добавить и удалить рецепт из избранного.<br><br>
    Проект создан исключительно для демонстрации базовых навыков работы с Angular.<br><br>
  </p>

  <h3>eng</h3>
  <p>Forkify is a web application for finding recipes. Recipes come from food2fork. <br> <br>
    Appearance - Angular Material. Non adaptive.<br> <br>
    Firebase is used for authorization, storage of favorites and search history. <br> <br>
    Routes are protected by guard from non-authorized users. <br> <br>
    In the application, you can sign up, log in\out and reset your password. <br> <br>
    In the settings you can change the language and enable saving search history. <br> <br>
    You can add and remove recipe from favorites. <br> <br>
    The project was created solely to demonstrate the basic skills of working with Angular.
  </p>
</div>
